<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de MongoDB</title>
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-3">
        <a href="/" class="navbar-brand">CURSO MONGODB</a>
     </nav>
    <div class="container">
        <div class="row">
<!--form-->
<div class="col-md-4 offset-md-3">
    <div class="card">
        <div class="card-body ">
            <form action="/edit/<%=registra._id%>" method="POST">
                <div class="form-group mb-3">
                    <input type="text" name="title" placeholder="Nombre Completo" class="form-control" value="<%=registra.title%>">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="descripcion" placeholder="Monto a pagar" class="form-control" value="<%=registra.descripcion%>" >
                </div>
                <button type="submit" class='btn btn-primary btn-block'>
                        Editar
                </button>
            </form>
        </div>
    </div>
</div>
    </div>
</div>
</body> 
</html>