<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de MongoDB</title>
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
     <nav class="navbar navbar-dark bg-dark mb-3">
           <a href="/" class="navbar-brand">CURSO MONGODB</a>
      </nav>
              <div class="container">
                  <h1>REGISTRAR</h1>
                   <div class="row">
                        <!--form-->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body ">
                                    <form action="/add" method="POST">
                                        <div class="form-group mb-3">
                                            <input type="text" name="title" placeholder="Nombre Completo" class="form-control">
                                        </div>
                                        <div class="form-group mb-3">
                                            <input type="text" name="descripcion" placeholder="Monto a pagar" class="form-control" >
                                        </div>
                                        <button type="submit" class='btn btn-primary btn-block'>
                                                Registrar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--lista-->
                        <div class="col-md-7">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre Completo</th>
                                        <th>Monto</th>
                                        <th>Operaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< registra.length; i++) { %>
                                       <tr>
                                           <td><%= i + 1 %></td>
                                           <td><%= registra[i].title%></td>
                                           <td><%= registra[i].descripcion%></td>
                                           <td>
                                               <a href="/edit/<%= registra[i]._id%>" class="btn btn-info">Editar</a>
                                               <a href="/delete/<%= registra[i]._id%>" class="btn btn-danger">Eliminar</a>
                                           </td>
                                       </tr>

                                  <% } %>
                                </tbody>

                            </table>
                    </div>
         </div>
</div>
</body> 
</html>